footer iframe {
    width: 100%;
    margin-bottom: -10px;
    overflow: hidden; 
}
section iframe {
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}
nav iframe {
    width: 100%;
    
}
